<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Lobster">
  <link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Muli">
  <style>
  .box {
    height: 100px;
    width: 140px;
    align-content: center;
    font-family: "Muli";
  }
  .btn {
    height: 100px;
    width: 150px;
    font-size: 20px;
    font-family: "Muli";
  }
  body {
    font-family: 'Muli';
    font-size: 30px;
    width: 140px;
    align-content: center;
    align-items: center;
  }
  h1 {
    text-align: center;
    font-size: 60px;
  }
  .rescue {
    background-color: #a8c9ff;
  }
  .rescue:hover{
    background-color: #ffd2a8;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;

  }
  .textbar {
    height: 70px;
    width: 320px;
  }
  </style>
</head>
  <div class = "container">
    <div class = "row">
      <div class = "col-md-6">
        <h1>All Animals</h1>
        <table>
          <% for animal in @animals %>
          <a href = '/animals/<%=animal.id%>' ></a>
            <tr>
              <td>
              <%= animal.name %>
              </td>
              <td>
              <%= animal.age %>
              </td>
            <td>
            <%= animal.kind %>
          </td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>
</html>
