<center><h2>conversion links:</h2>
<p><%= link_to "30C to K", '/convert/30/c/to/k' %></p>
<p><%= link_to "27F to K", '/convert/27/f/to/k' %></p>
<p><%= link_to "230K to F", '/convert/230/k/to/f' %></p>
<p><%= link_to "290K to C", '/convert/230/k/to/c' %></p>
</center>
